.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

#hidden {
  display: none;
}

#qa {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}