dunst &
fcitx5 &

# Configure monitors
xrandr {{- range .displays }} \
--output {{ .name }} --auto \
{{- if .primary }} --primary{{ end }} \
{{- if ne .relation "" }} --{{ .relation }} {{ .relative_to }}{{ end }} \
{{- if and (ne .rotate "") (ne .rotate "normal") }} --rotate {{ .rotate }}{{ end }} \
{{- end }}

# Set wallpapers
{{- range .displays }}
xwallpaper --output {{ .name }} --stretch "{{ .wallpaper }}"
{{- end }}

$HOME/.config/polybar/launch.sh &
