<?xml version="1.0" encoding="UTF-8"?>
<openbox_config xmlns="http://openbox.org/3.4/rc" xmlns:xi="http://www.w3.org/2001/XInclude">
    <resistance>
        <strength>10</strength>
        <screen_edge_strength>20</screen_edge_strength>
    </resistance>

    <focus>
        <focusNew>yes</focusNew>
        <focusLast>yes</focusLast>
        <followMouse>no</followMouse>
        <focusDelay>200</focusDelay>
        <underMouse>no</underMouse>
        <raiseOnFocus>no</raiseOnFocus>
    </focus>

    <placement>
        <policy>UnderMouse</policy>
        <center>no</center>
    </placement>

    <theme>
        <name>tebby24-openbox-theme</name>
        <!--
            available characters are NDSLIMC, each can occur at most once.
            N: window icon
            L: window label (AKA title).
            I: iconify
            M: maximize
            C: close
            S: shade (roll up/down)
            D: omnipresent (on all desktops).
        -->
        <titleLayout>C</titleLayout>
        <keepBorder>yes</keepBorder>
        <animateIconify>yes</animateIconify>
        <font place="ActiveWindow">
            <name>Terminus</name>
            <size>8</size>
            <weight>Normal</weight>
            <slant>Normal</slant>
        </font>
        <font place="ActiveWindow">
            <name>Terminus</name>
            <size>10</size>
            <slant>normal</slant>
            <weight>normal</weight>
        </font>
        <font place="InactiveWindow">
            <name>Terminus</name>
            <size>10</size>
            <slant>normal</slant>
            <weight>normal</weight>
        </font>
        <font place="MenuHeader">
            <name>Terminus</name>
            <size>10</size>
            <slant>normal</slant>
            <weight>normal</weight>
        </font>
        <font place="MenuItem">
            <name>Terminus</name>
            <size>10</size>
            <slant>normal</slant>
            <weight>normal</weight>
        </font>
        <font place="OnScreenDisplay">
            <name>Terminus</name>
            <size>10</size>
            <slant>normal</slant>
            <weight>normal</weight>
        </font>    
    </theme>

    <desktops>
        <number>9</number>
        <firstdesk>1</firstdesk>
        <popupTime>0</popupTime>
    </desktops>

    <resize>
        <drawContents>yes</drawContents>
        <popupShow>Nonpixel</popupShow>
        <popupPosition>Center</popupPosition>
        <popupFixedPosition>
            <x>10</x>
            <y>10</y>
        </popupFixedPosition>
    </resize>

    <margins>
        <top>0</top>
        <bottom>0</bottom>
        <left>0</left>
        <right>0</right>
    </margins>

    <dock>
        <position>TopLeft</position>
        <floatingX>0</floatingX>
        <floatingY>0</floatingY>
        <noStrut>no</noStrut>
        <stacking>Above</stacking>
        <direction>Vertical</direction>
        <autoHide>no</autoHide>
        <hideDelay>300</hideDelay>
        <showDelay>300</showDelay>
        <moveButton>Middle</moveButton>
    </dock>

    <keyboard>
        <chainQuitKey>Escape</chainQuitKey>

        <!-- Switch desktops -->
        <keybind key="W-a">
            <action name="GoToDesktop">
                <to>left</to>
                <wrap>no</wrap>
            </action>
        </keybind>
        <keybind key="W-d">
            <action name="GoToDesktop">
                <to>right</to>
                <wrap>no</wrap>
            </action>
        </keybind>
        <keybind key="W-C-a">
            <action name="SendToDesktop">
                <to>left</to>
                <wrap>no</wrap>
            </action>
        </keybind>
        <keybind key="W-C-d">
            <action name="SendToDesktop">
                <to>right</to>
                <wrap>no</wrap>
            </action>
        </keybind>


    <!-- Switch to desktop 1–9 -->
    <keybind key="W-1">
        <action name="GoToDesktop">
            <to>1</to>
        </action>
    </keybind>
    <keybind key="W-2">
        <action name="GoToDesktop">
            <to>2</to>
        </action>
    </keybind>
    <keybind key="W-3">
        <action name="GoToDesktop">
            <to>3</to>
        </action>
    </keybind>
    <keybind key="W-4">
        <action name="GoToDesktop">
            <to>4</to>
        </action>
    </keybind>
    <keybind key="W-5">
        <action name="GoToDesktop">
            <to>5</to>
        </action>
    </keybind>
    <keybind key="W-6">
        <action name="GoToDesktop">
            <to>6</to>
        </action>
    </keybind>
    <keybind key="W-7">
        <action name="GoToDesktop">
            <to>7</to>
        </action>
    </keybind>
    <keybind key="W-8">
        <action name="GoToDesktop">
            <to>8</to>
        </action>
    </keybind>
    <keybind key="W-9">
        <action name="GoToDesktop">
            <to>9</to>
        </action>
    </keybind>

    <!-- Send window to desktop 1–9 -->
    <keybind key="W-C-1">
        <action name="SendToDesktop">
            <to>1</to>
        </action>
    </keybind>
    <keybind key="W-C-2">
        <action name="SendToDesktop">
            <to>2</to>
        </action>
    </keybind>
    <keybind key="W-C-3">
        <action name="SendToDesktop">
            <to>3</to>
        </action>
    </keybind>
    <keybind key="W-C-4">
        <action name="SendToDesktop">
            <to>4</to>
        </action>
    </keybind>
    <keybind key="W-C-5">
        <action name="SendToDesktop">
            <to>5</to>
        </action>
    </keybind>
    <keybind key="W-C-6">
        <action name="SendToDesktop">
            <to>6</to>
        </action>
    </keybind>
    <keybind key="W-C-7">
        <action name="SendToDesktop">
            <to>7</to>
        </action>
    </keybind>
    <keybind key="W-C-8">
        <action name="SendToDesktop">
            <to>8</to>
        </action>
    </keybind>
    <keybind key="W-C-9">
        <action name="SendToDesktop">
            <to>9</to>
        </action>
    </keybind>

        <!-- Launch applications -->
        <keybind key="W-Return">
          <action name="Execute">
            <command>alacritty -e zsh -lc "~/scripts/shared/tms ~"</command>
          </action>
        </keybind>
        <keybind key="W-b">
            <action name="Execute">
                <command>
                    {{- $script := "~/scripts/shared/chrome-profile-launcher" -}}
                    {{- $profiles := .chrome_profiles | join " " -}}
                    sh {{ $script }} {{ $profiles }}</command>
            </action>
        </keybind>
        <keybind key="W-e">
            <action name="Execute">
                <command>thunar</command>
            </action>
        </keybind>
        <keybind key="W-S-e">
            <action name="Execute">
                <command>thunar ~/Downloads</command>
            </action>
        </keybind>

        <keybind key="W-space">
            <action name="Execute">
                <command>rofi -x11 -show drun</command>
            </action>
        </keybind>


        <!-- Launch powermenu -->
        <keybind key="W-p">
            <action name="Execute">
                <command>sh ~/scripts/shared/rofi-powermenu</command>
            </action>
        </keybind>

        <!-- Close focused window -->
        <keybind key="W-C-q">
            <action name="Close" />
        </keybind>

        <!-- Tile windows -->
        <keybind key="W-f">
            <action name="MoveResizeTo">
                <x>0</x>
                <y>0</y>
                <width>100%</width>
                <height>100%</height>
            </action>
        </keybind>

        <keybind key="W-Left">
            <action name="MoveResizeTo">
                <x>0</x>
                <y>0</y>
                <width>50%</width>
                <height>100%</height>
            </action>
        </keybind>

        <keybind key="W-Right">
            <action name="MoveResizeTo">
                <x>50%</x>
                <y>0</y>
                <width>50%</width>
                <height>100%</height>
            </action>
        </keybind>

        <keybind key="W-Up">
            <action name="MoveResizeTo">
                <x>0</x>
                <y>0</y>
                <width>100%</width>
                <height>50%</height>
            </action>
        </keybind>

        <keybind key="W-Down">
            <action name="MoveResizeTo">
                <x>0</x>
                <y>50%</y>
                <width>100%</width>
                <height>50%</height>
            </action>
        </keybind>

        <!-- Volume controls -->
        <keybind key="XF86_AudioLowerVolume">
            <action name="Execute">
                <command>amixer sset Master 5%-</command>
            </action>
        </keybind>

        <keybind key="XF86_AudioRaiseVolume">
            <action name="Execute">
                <command>amixer sset Master 5%+</command>
            </action>
        </keybind>

        <keybind key="XF86_AudioMute">
            <action name="Execute">
                <command>amixer sset Master toggle</command>
            </action>
        </keybind>

        <!-- Brightness controls -->
        <keybind key="XF86_MonBrightnessUp">
            <action name="Execute">
                <command>brightnessctl set +10%</command>
            </action>
        </keybind>

        <keybind key="XF86_MonBrightnessDown">
            <action name="Execute">
                <command>brightnessctl set 10%-</command>
            </action>
        </keybind>

        <!-- Reconfigure Openbox -->
        <keybind key="W-C-r">
            <action name="Reconfigure" />
        </keybind>

        <!-- Window switcher -->
        <keybind key="W-w">
            <action name="NextWindow">
                <dialog>none</dialog>
                <raise>yes</raise>
                <linear>yes</linear>
                <finalactions>
                    <action name="Raise" />
                    <action name="Focus" />
                </finalactions>
            </action>
        </keybind>


        <keybind key="W-s">
            <action name="PreviousWindow">
                <dialog>none</dialog>
                <raise>yes</raise>
                <linear>yes</linear>
                <finalactions>
                    <action name="Raise" />
                    <action name="Focus" />
                </finalactions>
            </action>
        </keybind>

        <keybind key="A-c">
          <action name="Execute">
            <command>~/scripts/shared/scrot-ocr "{{.google_ocr_key}}"</command>
          </action>
        </keybind>


        {{ if eq .chezmoi.username "qiyichen" }}
        {{ end }}


    </keyboard>
    <mouse>
        <dragThreshold>1</dragThreshold>
        <doubleClickTime>500</doubleClickTime>
        <screenEdgeWarpTime>0</screenEdgeWarpTime>
        <screenEdgeWarpMouse>false</screenEdgeWarpMouse>

        <context name="Frame">
            <mousebind button="W-Left" action="Drag">
                <action name="Move" />
            </mousebind>
            <mousebind button="W-Right" action="Drag">
                <action name="Resize" />
            </mousebind>
        </context>

        <context name="Titlebar">
            <mousebind button="Left" action="Drag">
                <action name="Move" />
            </mousebind>
        </context>
        <context name="Titlebar Top Right Bottom Left TLCorner TRCorner BRCorner BLCorner">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="Unshade" />
            </mousebind>
            <mousebind button="Right" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="ShowMenu">
                    <menu>client-menu</menu>
                </action>
            </mousebind>
        </context>
        <context name="Top">
            <mousebind button="Left" action="Drag">
                <action name="Resize">
                    <edge>top</edge>
                </action>
            </mousebind>
        </context>
        <context name="Left">
            <mousebind button="Left" action="Drag">
                <action name="Resize">
                    <edge>left</edge>
                </action>
            </mousebind>
        </context>
        <context name="Right">
            <mousebind button="Left" action="Drag">
                <action name="Resize">
                    <edge>right</edge>
                </action>
            </mousebind>
        </context>
        <context name="Bottom">
            <mousebind button="Left" action="Drag">
                <action name="Resize">
                    <edge>bottom</edge>
                </action>
            </mousebind>
            <mousebind button="Right" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="ShowMenu">
                    <menu>client-menu</menu>
                </action>
            </mousebind>
        </context>
        <context name="TRCorner BRCorner TLCorner BLCorner">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="Unshade" />
            </mousebind>
            <mousebind button="Left" action="Drag">
                <action name="Resize" />
            </mousebind>
        </context>
        <context name="Client">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
            </mousebind>
            <mousebind button="Middle" action="Press">
                <action name="Focus" />
                <action name="Raise" />
            </mousebind>
            <mousebind button="Right" action="Press">
                <action name="Focus" />
                <action name="Raise" />
            </mousebind>
        </context>
        <context name="Icon">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="Unshade" />
                <action name="ShowMenu">
                    <menu>client-menu</menu>
                </action>
            </mousebind>
            <mousebind button="Right" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="ShowMenu">
                    <menu>client-menu</menu>
                </action>
            </mousebind>
        </context>
        <context name="AllDesktops">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="Unshade" />
            </mousebind>
            <mousebind button="Left" action="Click">
                <action name="ToggleOmnipresent" />
            </mousebind>
        </context>
        <context name="Shade">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
            </mousebind>
            <mousebind button="Left" action="Click">
                <action name="ToggleShade" />
            </mousebind>
        </context>
        <context name="Iconify">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
            </mousebind>
            <mousebind button="Left" action="Click">
                <action name="Iconify" />
            </mousebind>
        </context>
        <context name="Maximize">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="Unshade" />
            </mousebind>
            <mousebind button="Middle" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="Unshade" />
            </mousebind>
            <mousebind button="Right" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="Unshade" />
            </mousebind>
            <mousebind button="Left" action="Click">
                <action name="ToggleMaximize" />
            </mousebind>
            <mousebind button="Middle" action="Click">
                <action name="ToggleMaximize">
                    <direction>vertical</direction>
                </action>
            </mousebind>
            <mousebind button="Right" action="Click">
                <action name="ToggleMaximize">
                    <direction>horizontal</direction>
                </action>
            </mousebind>
        </context>
        <context name="Close">
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
                <action name="Unshade" />
            </mousebind>
            <mousebind button="Left" action="Click">
                <action name="Close" />
            </mousebind>
        </context>
        <context name="Desktop">
            <mousebind button="Up" action="Click">
                <action name="GoToDesktop">
                    <to>previous</to>
                </action>
            </mousebind>
            <mousebind button="Down" action="Click">
                <action name="GoToDesktop">
                    <to>next</to>
                </action>
            </mousebind>
            <mousebind button="A-Up" action="Click">
                <action name="GoToDesktop">
                    <to>previous</to>
                </action>
            </mousebind>
            <mousebind button="A-Down" action="Click">
                <action name="GoToDesktop">
                    <to>next</to>
                </action>
            </mousebind>
            <mousebind button="C-A-Up" action="Click">
                <action name="GoToDesktop">
                    <to>previous</to>
                </action>
            </mousebind>
            <mousebind button="C-A-Down" action="Click">
                <action name="GoToDesktop">
                    <to>next</to>
                </action>
            </mousebind>
            <mousebind button="Left" action="Press">
                <action name="Focus" />
                <action name="Raise" />
            </mousebind>
            <mousebind button="Right" action="Press">
                <action name="Focus" />
                <action name="Raise" />
            </mousebind>
        </context>
        <context name="Root">
            <!-- Menus -->
            <mousebind button="Middle" action="Press">
                <action name="ShowMenu">
                    <menu>client-list-combined-menu</menu>
                </action>
            </mousebind>
            <mousebind button="Right" action="Press">
                <action name="ShowMenu">
                    <menu>root-menu</menu>
                </action>
            </mousebind>
        </context>
        <context name="MoveResize">
            <mousebind button="Up" action="Click">
                <action name="GoToDesktop">
                    <to>previous</to>
                </action>
            </mousebind>
            <mousebind button="Down" action="Click">
                <action name="GoToDesktop">
                    <to>next</to>
                </action>
            </mousebind>
            <mousebind button="A-Up" action="Click">
                <action name="GoToDesktop">
                    <to>previous</to>
                </action>
            </mousebind>
            <mousebind button="A-Down" action="Click">
                <action name="GoToDesktop">
                    <to>next</to>
                </action>
            </mousebind>
        </context>
    </mouse>
    <menu>
        <!-- You can specify more than one menu file in here and they are all loaded,
        just don't make menu ids clash or, well, it'll be kind of pointless -->
        <!-- default menu file (or custom one in $HOME/.config/openbox/) -->
        <file>menu.xml</file>
        <hideDelay>200</hideDelay>
        <!-- if a press-release lasts longer than this setting (in milliseconds), the
        menu is hidden again -->
        <middle>no</middle>
        <!-- center submenus vertically about the parent entry -->
        <submenuShowDelay>100</submenuShowDelay>
        <!-- time to delay before showing a submenu after hovering over the parent
            entry.
            if this is a negative value, then the delay is infinite and the
        submenu will not be shown until it is clicked on -->
        <submenuHideDelay>400</submenuHideDelay>
        <!-- time to delay before hiding a submenu when selecting another
            entry in parent menu
            if this is a negative value, then the delay is infinite and the
        submenu will not be hidden until a different submenu is opened -->
        <showIcons>yes</showIcons>
        <!-- controls if icons appear in the client-list-(combined-)menu -->
        <manageDesktops>yes</manageDesktops>
        <!-- show the manage desktops section in the client-list-(combined-)menu -->
    </menu>
    <applications>
      <application class="*">
        <position force="yes">
          <x>center</x>
          <y>center</y>
        </position>
        <decor>no</decor>
      </application>
    </applications>
    </openbox_config>
