kanshi &

mako &

swaybg -i {{ .primary_monitor_wallpaper }} -m fill -o {{ .primary_monitor }} &
{{- if .secondary_monitor }}
swaybg -c '#000000' -m fill -o {{ .secondary_monitor }} &
{{- end }}

waybar --style ~/.config/waybar/style.css &

fcitx5 -d &

gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'
gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'

