kanshi &

mako &

swaybg -o {{ .primary_monitor }} -i {{ .primary_monitor_wallpaper }} -m fill {{ if .secondary_monitor }} -o {{ .secondary_monitor }} -c '#000000' -m fill{{ end }} &


waybar --style ~/.config/waybar/style.css &

fcitx5 -d &

gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'
gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'

